#BREADCRUMB{
    color: var(--gryShade2);
    font-family: 'Inter_Regular';
    text-decoration: none;
    font-size: 1.25rem;
}
/* LISTINGS HEADER STYLES (Reused for CUSTOMER_TABLE) */
.CUSTOMERS_CONTAINER {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 50px;
    min-height: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01), 0 6px 20px rgba(0, 0, 0, 0.05);
    overflow-y: auto;
    margin-bottom: 20px;
}

.CUSTOMERS_HEADER {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.CUSTOMERS_HEADER h2 {
    font-size: 1rem;
    font-family: 'Inter_Bold';
    color: var(--blkShade1);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CUSTOMERS_HEADER #GO_BACK {
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--gryShade2);
    background: var(--gradient_White);
    padding: 8px 12px;
    border-radius: 20px;
    border: 2px solid var(--whtShade2);
    text-decoration: none;
    transition: border 0.2s ease-in-out;
    font-family: 'Inter_Bold';
}

.CUSTOMERS_HEADER #GO_BACK i {
    margin-right: 5px;
}

.CUSTOMERS_HEADER #GO_BACK:hover {
    border: 2px solid var(--gryShade1);
}

/* CUSTOMER TABLE */
.CUSTOMER_TABLE {
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01), 0 6px 20px rgba(0, 0, 0, 0.05);
    min-height: 850px;
    max-height: 850px;
    overflow-y: auto;
    padding:  10px 20px 20px 20px;
}

.CUSTOMER_TABLE table {
    border-collapse: collapse; 
    width: 100%; 
    table-layout: fixed;
}

.CUSTOMER_TABLE h2 {
    background: white;
    color: var(--blkShade1);
    font-size: 1rem;
    font-family: 'Inter_Bold';
    padding: 20px 20px 10px 20px;
    margin: 0;
}

.CUSTOMER_TABLE th {
    background: white;
    color: var(--blkShade1);
    font-size: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gryShade1);
    text-align: center;
}

.CUSTOMER_TABLE td {
    background-color: white;
    font-size: 0.8rem;
    font-family: 'Inter_Regular';
    color: var(--blkShade1);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--whtShade2);
}

.CUSTOMER_TABLE .PROFILE_PIC img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.DELETE_BUTTON {
    color: white;
    padding: 5px 10px;
    font-size: 0.75rem;
    font-family: 'Inter_Medium';
    background: var(--gradient_Red);
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.CUSTOMER_TABLE i{
    margin-right: 5px;
}

.VIEW_BUTTON{
    padding: 5px 20px;
    text-decoration: none;
    background: var(--gradient_White);
    border: 2px solid var(--whtShade2);
    font-family: 'Inter_Bold';
    font-size: 0.8rem;
    color: var(--gryShade2);
    border-radius: 20px;
}

.VIEW_BUTTON:hover {
    border: 2px solid var(--gryShade1);
}

.TRANSACTION_COUNT {
    font-size: 0.8rem;
    font-family: 'Inter_Medium';
}

#PROFILE_PIC_HEADER,
#PROFILE_PIC_CELL{
    width: 5%;
}

.CLIENT_PROFILE_PIC {
    width: 40px; /* Make the actual image smaller */
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #f0f0f0;
    margin: 0 auto; /* Center the image in the cell */
    display: block; /* Needed for margin auto to work */
}

.CLIENT_INFO {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.CLIENT_DETAILS h3 {
    margin: 0;
    font-size: 1rem;
    color: var(--blkShade1);
}

.CLIENT_DETAILS p {
    margin: 5px 0;
    color: var(--gryShade2);
    font-family: 'Inter_Medium';
    font-size: 0.8rem;
}

#BREADCRUMB {
    color: var(--gryShade1);
    text-decoration: none;
    font-family: 'Inter_SemiBold';
}

#BREADCRUMB:hover {
    color: var(--gryShade2);
}

#GO_BACK {
    display: inline;
    padding: 7.5px 10px;
    color: var(--gryShade2);
    font-family: 'Inter_Bold';
    font-size: 0.75rem;
    border-radius: 20px;
    border: 2px solid var(--whtShade2); 
    background: var(--gradient_White);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

#GO_BACK:hover {
    border: 2px solid var(--gryShade1);
}

.TRANSACTION_DETAILS {
    white-space: pre-wrap;
    word-wrap: break-word;
}
