/* Filters */
.FILTERS {
    display: flex;
    gap: 2.5px;
    margin-bottom: 20px;
}

.FILTER_BUTTON {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background: var(--whtShade1);
    color: var(--blkShade1);
    cursor: pointer;
    font-size: 0.8rem;
}

.FILTER_BUTTON.ACTIVE {
    background: var(--blkShade1);
    color: white;
}

.FILTER_BUTTON:not(.ACTIVE):hover {
    background: var(--whtShade2);
    color: var(--blkShade1);
}

/* Action Buttons */
.ACCEPT_BUTTON, .DECLINE_BUTTON {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background 0.3s ease;
}

.ACCEPT_BUTTON {
    background: var(--gradient_Green);
    color: white;
}

.DECLINE_BUTTON {
    background: var(--gradient_Red);
    color: white;
    margin-left: 10px;
}

.ACCEPT_BUTTON:disabled, .DECLINE_BUTTON:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}