/* IMPORTED FONTS */
@import url(assets/fonts/chillen/Chillen.ttf);
@import url(assets/fonts/chrome_slab/Chrome\ Slab\ Book\ Cover\ Cosmetic\ Hotel\ Serif\ Font.ttf);
@import url(assets/fonts/harabara_mais/Harabara\ Mais\ Demo.otf);
@import url(assets/fonts/Lato/Lato-Black.ttf);
/* CUSTOM PALLETES */
:root{
    --marble: #F2F8FC;
    --lavender: #F4F1F8;
    --aliceblue: #F0F8FF;
    --eggwhite: #FDFDFD;
}
/* FONT FAMILIES */
@font-face {
    font-family: 'Chillen';
    src: url(assets/fonts/chillen/Chillen.ttf) format(truetype); 
    font-weight: normal;
}
@font-face {
    font-family: 'ChromeSlab';
    src: url(assets/fonts/chrome_slab/Chrome\ Slab\ Book\ Cover\ Cosmetic\ Hotel\ Serif\ Font.ttf) format(trueType);
    font-weight: normal;
}
@font-face {
    font-family: 'HarabaraMais';
    src: url(assets/fonts/harabara_mais/Harabara\ Mais\ Demo.otf);
    font-weight: normal;
}
@font-face {
    font-family: 'Lato';
    src: url(assets/fonts/Lato/Lato-Black.ttf);
}

/* STYLE START */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--lavender);
}
/* NAVIGATION BAR*/
.NAVBAR {
    color: black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.NAVBAR a {
    color: black;
    font-size: 1.2rem; 
    text-decoration: none;
    font-family: 'Chillen';
}

.logo .VENDI {
    display: block;
    font-family: 'HarabaraMais';
    font-size: 1.5rem;
}

.logo .logo-image {
    display: none;
    width: 40px;
    height: 40px;
}

.logo:hover .VENDI {
    display: none;
}

.logo:hover .logo-image {
    display: block;
}

.btnREGISTER {
    background-color: black;
    color: var(--eggwhite);
    border: none;
    padding: 10px 20px;
    border-radius: 24px;
    cursor: pointer;
    font-family: 'Chillen';
    font-size: 1.2rem;
}

section {
    min-width: 960px;
    max-width: 1920px;
}

.HOME-SECTION {
    background-image: url(assets/images/landingpage.jpg);
    background-size: cover;
    min-width: 960px;
    max-width: 1920px;
    min-height: 1080px;
    max-height: 1080px;
    border-radius: 10px;
}


h1#HOME-STATEMENT {
    font-family: 'HarabaraMais';
}