/* CUSTOM PALLETES */
:root {
    --white: #FFFFFF;
    --white1: #fafafa;    
    --white2: #f0f0f0;
    --dark2: #333;
    --dark1: #333333;
    --dark3: #393939;
    --dark4: #282C35;
    --dark5: #696969;
    --violet: #4c315a;
    --gradient: linear-gradient(to right, black 0%, rgb(80, 0, 0) 75%, rgb(60, 0, 116) 100%);
    --semi-transparent: hsla(0, 0%, 100%, 0.050);
}

/* FONT FAMILIES */
@font-face {
    font-family: 'Poppins';
    src: url(assets/fonts/Poppins-Full-Version/Poppins-Full-Version/Poppins-Regular.ttf);}
@font-face {
    font-family: "Blacksword";
    src: url(assets/fonts/blacksword/Blacksword.otf);}
@font-face {
    font-family: 'CaviarDreams';
    src: url(assets/fonts/caviar_dreams/CaviarDreams.ttf);}
@font-face {
    font-family: 'Coolvetica';
    src: url(assets/fonts/coolvetica/Coolvetica\ Rg.otf);}
@font-face {
    font-family: 'GeoSans';
    src: url(assets/fonts/geo_sans_light/GeosansLight.ttf);}
@font-face {
    font-family: 'Machinery';
    src: url(assets/fonts/machinery_script/MachineryScript_PERSONAL_USE_ONLY.otf);}


html, body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: var(--white2);
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
}

/* LEFT SECTION */
.LEFT_SECTION {
    flex: 50%;
    background-image: url(assets/images/GradientBackdrop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 20px;
    margin: 5px;
}

.LOGO {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 150px;
}

.LOGO_NAME{
    font-family: 'Machinery';
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

.BACK_TO_WEBSITE {
    font-family: 'Poppins';
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    background-color: transparent;
    margin-left: auto;
    padding: 5px 20px;
    border: 1px solid var(--dark5);
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.BACK_TO_WEBSITE:hover {
    color: white;
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.VECTOR_ART {
    display: flex;
    justify-content: center;
    width: 100%;
}

.VECTOR_ART img {
    width: 350px;
    height: auto;
}

.LEFT_SECTION p{
    font-family: 'Coolvetica';
    font-size: 2rem;
    color: var(--white);
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}

.CONTAINER{
    display: flex;
    margin: 0 auto;
    min-height: 1000px;
}

/* RIGHT SECTION */
.RIGHT_SECTION {
    flex: 50%;
    background-color: var(--white1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    overflow-y: auto;
    margin: 5px;
    border-radius: 20px;
}

.USER_SELECTION{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 75px;
    width: 100%;
    z-index: 0;
    gap: 20px;
}

.USER_SELECTION button{
    padding: 20px;
    width: 350px;
    font-family: 'Coolvetica';
    font-size: 1rem;
    border: none;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    border-radius: 10px ;
    margin: 0;
    transition: 0.2s ease;
}

.USER_SELECTION button:hover{
    transform: translateY(-1px);
}

.USER_SELECTION button.active{
    background-color: black;
    color: white;
    border: none;
    z-index: 1;
}

.LOGIN_FORM{
    display: none;
}

.LOGIN_FORM.active{
    display: block;
    background-color: var(--white1);
    border-radius: 10px;
    padding: 25px;
    margin: 0 auto;
    height: 100%;
    z-index: 2;
}

.LOGIN_FORM input,
.LOGIN_FORM select {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--white);
    border: 2px solid var(--white2);
    font-family: 'Poppins';
    box-sizing: border-box;
    font-size: 0.9rem;
    color: var(--dark3);
    transition: transform 0.5s ease, border-color 0.5s ease;
}

.LOGIN_FORM input:hover,
.LOGIN_FORM select:hover {
    border-color: var(--dark5);
    transform: translateY(-1px);
}

.LOGIN_FORM h2{
    text-align: left;
    font-family: 'Coolvetica';
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.LOGIN_FORM p {
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--dark5);
    font-size: 0.9rem;
    margin: 0;
    vertical-align: middle;
    margin-bottom: 10px;
}

.LOGIN_FORM #VENDI{
    font-family: 'Machinery';
    font-weight: lighter;
}

.BESIDE_FIELDS{
    display: flex;
    gap: 25px;
}

.BESIDE_FIELD{
    flex: 1;
}

.BESIDE_FIELD #BUSINESS_CATEGORY{
    cursor: pointer;
}

.LOGIN_FORM label {
    margin-top: 20px;
    font-family: 'Coolvetica';
    display: block;
}

.LOGIN_FORM button {
    background-color: black;
    font-family: 'Coolvetica';
    width: 100%;
    padding: 15px;
    color: var(--white);
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.LOGIN_FORM button:hover{
    background: var(--gradient);
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.PASSWORD_CONTAINER {
    position: relative;
}

.PASSWORD_CONTAINER input[type="password"] {
    padding-right: 30px;
    box-sizing: border-box;
}

.PASSWORD_CONTAINER .PASSWORD_TOGGLE {
    position: absolute;
    top: 67%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--dark5);
    font-size: 1rem;
}

.PASSWORD_CONTAINER .PASSWORD_TOGGLE:hover{
    color: var(--dark3);
}

.TERMS {
    display: flex;
    align-items: center;
}

.TERMS label {
    font-family: 'Poppins';
    font-size: 0.9rem;
    color: var(--dark5);
}

.TERMS a, a {
    font-family: 'Poppins';
    color: var(--dark5);
    text-decoration: none;
    font-weight: bold;
}

.TERMS a:hover, a:hover {
    color: var(--dark1);
}

.LOGIN{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    font-family: 'Poppins';
    color: var(--dark5);
    font-size: 0.9rem;
}

.LOGIN::before,
.LOGIN::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--dark5);
    margin: 0 10px;
}

.LOGIN_LINK{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

.LOGIN_LINK:hover{
    color: var(--dark3);
}

.REMEMBER_FORGOT_CONTAINER {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.REMEMBER_ME {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    align-items: center;
    color: var(--dark5);
    gap: 10px;
}

.REMEMBER_ME span{
    margin-left: 10px;
}

.REMEMBER_ME input[type="checkbox"] {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.EXTRA {
    font-family: 'Poppins';
    font-size: 0.9rem;
    color: var(--dark5);
}

.EXTRA a {
    color: var(--dark5);
    text-decoration: none;
    font-weight: bold;
}

.EXTRA a:hover {
    color: var(--dark1);
}
